<div class=" d-flex flex-column  flex-md-row p-4 main  ">

  
      <figure class="d-flex ">
        <img src="../assets/user.png" class="img-fluid rounded  w-100 " alt="user">
      </figure>
     

  
      <div class="card-body card-body-margin d-flex flex-column justify-content-between ">
       <div>
        <h4 class="card-title card-custom-title mb-0 text-center text-md-start">John Doe</h4>
        <p class="card-text card-body-desp mb-3 mb-md-3 text-center text-md-start">UI-UX designer.</p>
      </div>
       <div class="row text-center mb-4 mb-md-4 card-content">
        <div class="col ">
          <h5 class="card-col-heading">Views</h5>
          <p class="card-col-text mb-0">17,653</p>
        </div>
        <div class="col">
          <h5 class="card-col-heading">Followers</h5>
          <p class="card-col-text">373</p>
        </div>
        <div class="col">
          <h5 class="card-col-heading">Appreciations</h5>
          <p class="card-col-text">1,888</p>
        </div>
       </div>
       <div class="d-flex flex-column flex-md-row  justify-content-between ">
        <button class="btn btn-follow mb-2 mb-md-0 ">Follow</button>
        <button class=" btn btn-connect">Connect</button>
       </div>
    </div>
  </div>
